<!-- surveyTimeOutAlert box -->
<div id="modal-reloadany-timer" class="modal"  tabindex="-1" role="dialog" data-backdrop="static" data-keyboard=0>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning text-danger">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="h4 modal-title">{{ lang.warning }}</div>
      </div>
      <div class="modal-body panel-body text-danger">
        <p>{{ lang.windowclosewithtimer }}</p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
